<div class="toolbar" role="banner">
  <h2 class="ml-20">Architecture Workbench</h2>
</div>

<div class="content" role="main">
  <p>How can I help?</p>
  <textarea class="mb-10" [(ngModel)]="requirementStr" rows="10" cols="50"></textarea>
  <div class="btn-div">
    <button *ngIf="!loading" class="btn mb-20" (click)="onSubmit()">Submit</button>
    <button *ngIf="loading" class="btn mb-20" (click)="onSubmit()">Loading...</button>
  </div>

  <p *ngIf="answer" class="mb-20">
    <strong>Answer:</strong> {{answer}}
  </p>
</div>